

<div class="row">
    <h1>Proyectos realizados</h1>    
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
        <a href="https://github.com/FelipeB82/Calculadora" id="img1"><h2>Calculadora</h2></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At excepturi labore corporis enim et veritatis dolore, 
            nihil consectetur laborum cum? Esse distinctio odio 
            maiores omnis molestiae 
            mollitia provident nostrum consequuntur?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/calculadora.png" class="img-fluid img1">  
        </div>
    </div>
</div>




