<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/yo.png" id="fotoperfil" class="">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h2 id="acerca">Acerca de mí</h2>
                <p>“Todos los hombres desean, por naturaleza, saber” - Aristóteles</p>
                <p>En la busqueda perpetua de conocimiento...</p>
            </span>
        </div>
    </div>
</div>


