<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" class="img-fluid">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/luisfelipe.balmaceda/"><img src="../../../assets/facebook.png" alt="" class="img-fluid"></a>
                <a href="https://www.instagram.com/luisfelipebalmaceda/"><img src="../../../assets/instagram.png" alt="" class="img-fluid"></a>
                <a href="https://www.linkedin.com/in/luis-felipe-balmaceda-0779b090/"><img src="../../../assets/in.png" alt="" class="img-fluid"></a>
                <a href="https://wa.me/5493815234936"><img src="../../../assets/whatsapp.png" alt="" class="img-fluid"></a>
                <a href="https://github.com/FelipeB82"><img src="../../../assets/github.png" alt="" class="img-fluid"></a>
                <button type="button" class="btn btn-outline-primary btn-lg" (click)="login()">Ingreso</button>
            </div>   
        </div>
    </div>
</div>

