<h1>Hard Skills</h1>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="100"
  title="HTML"
  [imageSrc]="'./assets/html.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [outerStrokeWidth]="25"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0000ff'"
  [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="1000">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="80"
      [radius]="100"
      title="Java"
      [imageSrc]="'./assets/Java.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
      subtitle=""
      [showUnits]="false"
      [outerStrokeWidth]="25"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#0000ff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="1000">
        </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
          [percent]="85"
          [radius]="100"
          title="Database Management"
          subtitle=""
          [showUnits]="false"
          [outerStrokeWidth]="25"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#0000ff'"
          [innerStrokeColor]="'#000000'"
          [animation]="true"
          [animationDuration]="1000">
            </circle-progress>
            </div>
</div>

<h1>Soft Skills</h1>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  title="Adaptability"
  subtitle=""
  [showUnits]="false"
  [outerStrokeWidth]="25"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0000ff'"
  [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="1000">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="85"
      [radius]="100"
      title="Problem Solving"
      subtitle=""
      [showUnits]="false"
      [outerStrokeWidth]="25"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#0000ff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="1000">
        </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
          [percent]="85"
          [radius]="100"
          title="Teamwork"
          subtitle=""
          [showUnits]="false"
          [outerStrokeWidth]="25"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#0000ff'"
          [innerStrokeColor]="'#000000'"
          [animation]="true"
          [animationDuration]="1000">
            </circle-progress>
            </div>
</div>

<h1>Idiomas</h1>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  title="Inglés"
  [showSubtitle]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [outerStrokeWidth]="25"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#0000ff'"
  [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="1000">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="100"
      [radius]="100"
      title="Español"
      [showUnits]="true"
      [outerStrokeWidth]="25"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#0000ff'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="1000">
        </circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
          [percent]="40"
          [radius]="100"
          title="Portugues"
          [showUnits]="true"
          [outerStrokeWidth]="25"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#0000ff'"
          [innerStrokeColor]="'#000000'"
          [animation]="true"
          [animationDuration]="1000">
            </circle-progress>
            </div>
</div>